

.container{
    display: flex;
    margin-top: 4em;
   justify-content: center;
   gap: 30px;
 
}
.containerL{
    display: flex;
    flex-direction: column;
    width: 50vw;
    font-size: 15pt;
    gap: 15px;

}